:root {
    --grey: #6D6767;
    --gray: #D9D9D9;
    --footer: #f4e9d2;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAVIGATION */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Jacques Francois', serif;
    padding: 8px 70px;
}
nav img {
    width: 150px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 80px;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
nav button {
    background-color: black;
    color: white;
    font-family: 'Jacques Francois', serif;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 35px;
    visibility: hidden;
}
/* #selected {
    font-size: 30px;
    font-weight: bolder;
    transition: 0.4s;
} */
hr {
    border: 1px solid var(--gray);
}

/* PRODUCT INFO */
.product-info {
    display: flex;
}

/* PRODUCT CATEGORY */
.product-category {
    padding: 40px 70px;
    width: 50%;
}
.product-category h3 {
    padding-bottom: 18px;
    font-size: 15px;
    color: var(--grey);
    font-family: 'Jacques Francois', serif;
    letter-spacing: 2px;
    font-weight: 300;
}

/* FIT(images) & MODELS */
.fits-and-models {
    display: flex;
    width: 100%;
}

/* THUMBNAIL IMAGES */
.thumbnail-images {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-right: 45px;
}
.thumbnail-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 18vh;
    margin-bottom: 18px;
    cursor: pointer;
}

/* THUMBNAIL IMAGE 1-3 */ 
#thumbnail-image-1 {
    background-image: url("images/thumbnail-image-1.png");
}
#thumbnail-image-2 {
    background-image: url("images/thumbnail-image-2.png");
}
#thumbnail-image-3 {
    background-image: url("images/thumbnail-image-3.png");
}
#thumbnail-preview {
    background-image: url("images/thumbnail-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 85%;
    height: 90vh;
    margin-bottom: 15px;
}

/* PRODUCT DETAILS */
.product-details {
    padding: 40px 70px;
    width: 45%;
}
.product-details h3 {
    padding-bottom: 100px;
    font-size: 15px;
    color: var(--grey);
    font-family: 'Jacques Francois', serif;
    letter-spacing: 1px;
    font-weight: 300;
}
.product-details h1 {
    padding-bottom: 20px;
    font-family: 'Junge', serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 50px;
}
.product-details h2 {
    padding-bottom: 20px;
    font-family: 'Junge', serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 30px;
}
.product-details p {
    padding-bottom: 35px;
    font-family: 'Junge', serif;
    font-weight: 500;
    font-size: 16px;
}
.product-details a {
    color: black;
}
.product-details button {
    background-color: black;
    color: white;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    width: 45%;
    margin-top: 25px;
    height: 40px;
}
.lbl {
    font-family: 'Junge', serif;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
}
#number {
    width: 45%;
    height: 30px;
    font-family: 'Junge', serif;
    font-weight: bolder;
    font-size: 15px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.size {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.size input {
    height: 18px;
    cursor: pointer;
    margin-right: 4px;
    margin-left: 10px;
}
.size label {
    font-family: 'Junge', serif;
    font-size: 17px;
    font-weight: bold;
}
















































.size span{
    /* margin-top: 10px; */
    background-color: white; 
    color: black; 
    width: 40px; 
    height: 40px; 
    border: 1px solid black;
    border-radius: 90px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
    margin-right: 5px;
    /* margin-bottom: 10px; */
}
