:root {
    --grey: #6D6767;
    --gray: #D9D9D9;
    --footer: #f4e9d2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero-section {
    display: flex;
    align-items: center;
}

.cover-art {
    background-image: url("images/temsModel.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 40%;
    height: 100vh;
    float: right;
}
.writeup-and-nav {
    background-color: white;
    padding: 30px 90px;
    width: 60%;
    height: 100vh;
    float: left;
}

/* NAVIGATION */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Jacques Francois', serif;
}
nav img {
    width: 150px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 40px;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
/* #selected {
    font-size: 20px;
    font-weight: bolder;
    transition: 0.4s;
} */

/* WRITEUP */
.writeup-and-nav h1 {
    padding-top: 120px;
    font-size: 70px;
    width: 90%;
    letter-spacing: 2px;
    font-family: 'Junge', serif;
    font-weight: 500;
}
.writeup-and-nav p {
    padding-top: 170px;
    font-size: 18px;
    width: 60%;
    font-weight: lighter;
    font-family: 'Inter', sans-serif;
}
.vector {
    padding-top: 60px;
    width: 40px;
}

/* MODEL TEMS */
.cover-art {
    padding-top: 30px;
    text-align: end;
    padding-right: 50px;
}
.cover-art button {
    background-color: white;
    color: black;
    font-family: 'Jacques Francois', serif;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 35px;
}
.cover-art button:hover {
    background-color: black;
    color: white;
}